# Arrow/Parquet

## Imports

In [12]:
import altair as alt

In [13]:
import pyarrow.parquet as pq
import numpy as np
import pandas as pd
import pyarrow as pa

## Overview

Arrow is an efficient in memory tabular data structure.

Parquet is an efficient file format for saving tabales to disk.

Why use them:

* They are much faster, and space efficient than CSV/JSON.
* They preserve types of DataFrames.

https://arrow.apache.org/docs/python/parquet.html

## Write a DataFrame to a parquet file

In [14]:
cars = alt.load_dataset('cars')

In [15]:
cars.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01

In [16]:
filename = '/data/ellisonbg/cars.parquet'

In [17]:
table = pa.Table.from_pandas(cars)
pq.write_table(table, filename)

## Read a parquet file as a DataFrame

In [18]:
table2 = pq.read_table(filename)

In [19]:
table2.to_pandas().head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01