# A Brief Theory of Data

## Types of data

In this section, when I talk about the "type" of the data, I am not talking about the `dtype` (`int`, `float`, `bool`, `str`) used to represent the data in a NumPy array or Pandas DataFrame. In this context the "type" of the data is used in a more abstract sense.

## Take 1: Data+Design

[Data+Design]() is an excellent online book about the theory of data. It is very well thought out and beautiful as well. I highly recommend spending time reading it. In Chapter 1 of Data+Design, the authors cover [Basic Data Types](https://infoactive.co/data-design/ch01.html). For further details, see also the Wikipedia pages on [Levels of measurement](https://en.wikipedia.org/wiki/Level_of_measurement). Here is a short summary of those basic data types:

### Nominal

* Non-numerical
* Usually, but not always strings
* Non-ordered
* Cannot be averaged

In [18]:
states = ['Oregon', 'California', 'Texas', 'Colorado']
states

['Oregon', 'California', 'Texas', 'Colorado']

In [19]:
grocery_sections = ["produce", 'diary', 'frozen']
grocery_sections

['produce', 'diary', 'frozen']

In [20]:
gender = ['male', 'female']
gender

['male', 'female']

### Ordinal

* Non-numerical
* Usually, but not always strings
* Natural ordering
* Sometimes can be averaged
* Can assign numerical scale, but it will be arbitrary

In [4]:
response = ['strongly disagree', 'disagre', 'neutral', 'agree', 'strongly agree']
response

['strongly disagree', 'disagre', 'neutral', 'agree', 'strongly agree']

In [5]:
temp = ['cold', 'hot']
temp

['cold', 'hot']

In [6]:
height = ['short', 'medium', 'tall']
height

['short', 'medium', 'tall']

### Interval

* Equally spaced numerical data
* Ordered
* Can either be discrete (int) or continuous (float)
* No meaningful zero point
* Examples:
  - Temperature in F or C
  - Dates/Times

In [22]:
temps = [32.1, 99.4, 210.0, -76.4]
temps

[32.1, 99.4, 210.0, -76.4]

### Ratio

* Equally spaced, ordered numerical data
* Can either be discrete or continuous
* Meaningful zero point that indicates an absence of the measured entity
* Examples:
  - Age in years
  - Height in inches

In [12]:
ages = [random.randint(0,100) for i in range(10)]
ages

[47, 76, 17, 48, 99, 53, 86, 45, 56, 38]

In [16]:
height = [76.0*random.random() for i in range(10)]
height

[3.6024466624950744,
 72.57678124421476,
 28.563897505990518,
 47.537636077547305,
 48.56497103639384,
 29.140383493314705,
 71.6319961862486,
 59.37821139476524,
 71.10757477132888,
 12.436518123166024]

### Categorical

* Data is labelled by well separated categories
* Often used as an umbrella for nominal and ordinal, which are unordered and ordered categorical data types respectively.

## Take 2: Polaris, Tableau, d3/vega

The data visualization community has spent a lot of time thinking carefully about fundamental data types. There is a large body of research and software projects that encode the results of that research into usable forms. Good examples of this research and software are:

* [Polaris: A System for...](http://graphics.stanford.edu/papers/polaris_extended/polaris.pdf), C. Stolte, D. Tank and P. Hanrahan (2002).
* [Tableau](http://www.tableau.com/), Tableau Software, website (2016).
* [d3](http://d3js.org/), Data Driven Documents, website (2016).
* [Vega](http://vega.github.io/vega/), Vega: A Visualization Grammar, website (2016).
* [Vega-Lite](http://vega.github.io/vega-lite/), Vega-Lite: A High-Level Visualization Grammar, website (2016).
* [polestar](http://vega.github.io/polestar/), Polestar website (2016).

Here is a rough union of the different data types found in this body of work:

* Ordinal (same as above)
* Nominal (same as above)
* Quantitative (ratio, interval)
* Date/time (calendar dates and/or times)
* Geographic (states, latitude/longitude)

Some of these sofware packages also have a `text` data type that is meant for textual data that is not categorical.

## Variables

* A **variable** is some quantity that is measured, such as "age"
* A single variable can be measured in different ways that give different data types:
  - "young" or "old" = ordinal
  - Age ranges (0-9, 10-19, ...) = ordinal
  - Age in years = ratio

## Records and data sets

 * A **record** or **sample** is one measurement of a set of variables
 * A **data set** is a set of records that measure the same set of variables in the same way

In [28]:
ages = [random.randint(0,100) for i in range(10)]
heights = [76.0*random.random() for i in range(10)]
data_set = [{'age':a, 'height':h} for a, h in zip(ages, heights)]
data_set

[{'age': 52, 'height': 0.45153746742233736},
 {'age': 76, 'height': 56.65900992198216},
 {'age': 36, 'height': 22.419785610573825},
 {'age': 12, 'height': 16.34630476175516},
 {'age': 34, 'height': 35.392522637659134},
 {'age': 81, 'height': 41.75690996668162},
 {'age': 26, 'height': 32.123243497319},
 {'age': 83, 'height': 11.127118329861124},
 {'age': 96, 'height': 4.556533241526422},
 {'age': 0, 'height': 30.41328942526455}]

In [29]:
sample0 = data_set[0]
sample0

{'age': 52, 'height': 0.45153746742233736}

## Resources

* [Data+Design](https://infoactive.co/data-design) Trina Chiasson, Dyanna Gregory, et al (2016).