# Series

A Series is a one-dimensional object containing an array of data. Each array also has an associated array called its index, which serves as a label. Unless otherwise stated, the index starts from 0 and counts up.

In [1]:
from pandas import Series
import pandas as pd

object1 = Series([5, 3, 4, -2, 6])
object1

0    5
1    3
2    4
3   -2
4    6
dtype: int64

The values and index attributes can be used to learn about certain contents of a Series.

In [2]:
object1.values

array([ 5,  3,  4, -2,  6])

In [3]:
object1.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

A customized index can be created for a Series.

In [4]:
object2 = Series([7, 1, -3, -2, 6], index = ["b", "P", "q", "r", "t"])
object2

b    7
P    1
q   -3
r   -2
t    6
dtype: int64

Values of an array can be selected and edited through their index.

In [5]:
object2["r"]

-2

In [6]:
object2["q"] = 29
object2

b     7
P     1
q    29
r    -2
t     6
dtype: int64

In [7]:
object2[["b", "t", "q"]]

b     7
t     6
q    29
dtype: int64

Performing array operations will preserve the index.

In [8]:
object2[object2 < 0]

r   -2
dtype: int64

In [9]:
object2 * 3

b    21
P     3
q    87
r    -6
t    18
dtype: int64

It can be checked to see if a certain index exists within an array.

In [10]:
"b" in object2

True

In [11]:
"c" in object2

False

A series can be created by passing in a dict.

In [12]:
championships = {"Giants": 8, "Athletics": 9, "Yankees": 27, "Cardinals": 11, "Mariners": 0}
object3 = Series(championships)
object3

Athletics     9
Cardinals    11
Giants        8
Mariners      0
Yankees      27
dtype: int64

If only a dict is passed in, the resulting Series will have the dict's keys in sorted order.

In [13]:
teams = ["Giants", "Athletics", "Padres"]
object4 = Series(championships, index = teams)
object4

Giants        8
Athletics     9
Padres      NaN
dtype: float64

Since no value for Padres was found it appeared as NaN (not a number or a null value). The isnull and notnull functions can be used to find missing data. You can also use instance methods.

In [14]:
pd.isnull(object4)

Giants       False
Athletics    False
Padres        True
dtype: bool

In [15]:
pd.notnull(object4)

Giants        True
Athletics     True
Padres       False
dtype: bool

In [16]:
object4.isnull()

Giants       False
Athletics    False
Padres        True
dtype: bool

A nice feature of Series is that it can combine data from different objects if they have the same index.

In [17]:
object3

Athletics     9
Cardinals    11
Giants        8
Mariners      0
Yankees      27
dtype: int64

In [18]:
object4

Giants        8
Athletics     9
Padres      NaN
dtype: float64

In [19]:
object3 + object4

Athletics    18
Cardinals   NaN
Giants       16
Mariners    NaN
Padres      NaN
Yankees     NaN
dtype: float64

Both the object and the index in Series have a name attribute.

In [20]:
object3.name = "championship rings"
object3.index.name = "team name"
object3

team name
Athletics     9
Cardinals    11
Giants        8
Mariners      0
Yankees      27
Name: championship rings, dtype: int64