Cal Poly Mechanical Engineering students recently took a Thermodynamics midterm. Paul, Steve, Catherine, Rayna and Mary earned scores of 60, 94, 53, 77 and 68, respectively. Create Series of the student test scores and use the student names as the index.

In [1]:
from pandas import Series
test_scores = Series([60, 94, 53, 77, 68], index = ["Paul", "Steve", "Catherine", "Rayna", "Mary"])
test_scores

Paul         60
Steve        94
Catherine    53
Rayna        77
Mary         68
dtype: int64

The class average on the midterm was a 64. Find the students who scored above the average.

In [2]:
test_scores[test_scores > 64]

Steve    94
Rayna    77
Mary     68
dtype: int64

Upon reviewing the test, the professor realized a 3 point multiple choice problem was poorly worded, so he gave every student in the class 3 additional points on the test. What are Paul, Steve, Catherine, Rayna and Mary's new scores?

In [3]:
test_scores + 3

Paul         63
Steve        97
Catherine    56
Rayna        80
Mary         71
dtype: int64