Re-index the DataFrame with the words "one", "two" and "three".

In [3]:
from pandas import DataFrame
students = {"name": ["Kasper", "Ellen", "Lexi"],
             "major": ["Mechanical Engineering", "Physics", "English"],
             "school": ["Engineering", "Math and Science", "Liberal Arts"]}
frame = DataFrame(students)
frame

                    major    name            school
0  Mechanical Engineering  Kasper       Engineering
1                 Physics   Ellen  Math and Science
2                 English    Lexi      Liberal Arts

In [5]:
new_rows = DataFrame(students, index = ["one", "two", "three"])
new_rows

                        major    name            school
one    Mechanical Engineering  Kasper       Engineering
two                   Physics   Ellen  Math and Science
three                 English    Lexi      Liberal Arts

Make of copy of the previous DataFrame with a new column on the end called "hometown".

In [7]:
extra_column = DataFrame(new_rows, columns = ["major", "name", "school", "hometown"])
extra_column

                        major    name            school  hometown
one    Mechanical Engineering  Kasper       Engineering       NaN
two                   Physics   Ellen  Math and Science       NaN
three                 English    Lexi      Liberal Arts       NaN

Fill in the hometown column with "SLO", "SB" and "SD".

In [9]:
extra_column["hometown"] = ["SLO", "SB", "SD"]
extra_column

                        major    name            school hometown
one    Mechanical Engineering  Kasper       Engineering      SLO
two                   Physics   Ellen  Math and Science       SB
three                 English    Lexi      Liberal Arts       SD