Retrieve the "name" column of the DataFrame as a Series.

In [25]:
from pandas import DataFrame
students = {"name": ["Kasper", "Ellen", "Lexi"],
             "major": ["Mechanical Engineering", "Physics", "English"],
             "school": ["Engineering", "Math and Science", "Liberal Arts"]}
frame = DataFrame(students, index = ["one", "two", "three"])
frame

                        major    name            school
one    Mechanical Engineering  Kasper       Engineering
two                   Physics   Ellen  Math and Science
three                 English    Lexi      Liberal Arts

In [26]:
frame["name"]

one      Kasper
two       Ellen
three      Lexi
Name: name, dtype: object

Retrieve the "three" row of the DataFrame as a Series.

In [27]:
frame.ix["three"]

major          English
name              Lexi
school    Liberal Arts
Name: three, dtype: object

Change the name of the "major" column to "field of study".

In [28]:
frame.rename(columns = {frame.columns[0]:"field of study"})

               field of study    name            school
one    Mechanical Engineering  Kasper       Engineering
two                   Physics   Ellen  Math and Science
three                 English    Lexi      Liberal Arts

Delete the "school" column.

In [29]:
del frame["school"]
frame

                        major    name
one    Mechanical Engineering  Kasper
two                   Physics   Ellen
three                 English    Lexi