Drop the row containing Lexi from the following DataFrame.

In [4]:
from pandas import DataFrame
students = {"name": ["Kasper", "Ellen", "Lexi"],
             "major": ["Mechanical Engineering", "Physics", "English"],
             "school": ["Engineering", "Math and Science", "Liberal Arts"]}
frame = DataFrame(students)
frame

                    major    name            school
0  Mechanical Engineering  Kasper       Engineering
1                 Physics   Ellen  Math and Science
2                 English    Lexi      Liberal Arts

In [7]:
frame2 = frame.drop(0)
frame2

     major   name            school
1  Physics  Ellen  Math and Science
2  English   Lexi      Liberal Arts

Take the newly modified DataFrame and drop the school column.

In [9]:
frame3 = frame2.drop("school", axis=1)
frame3

     major   name
1  Physics  Ellen
2  English   Lexi